.header {
  padding: 1rem 4.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: inset 0 -1px 0 0 var(--black-500);

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  background-color: var(--black-700-90);
  backdrop-filter: saturate(180%) blur(2rem);
}

.header .logo {
  cursor: pointer;
  z-index: 100000;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style: none;
}

.nav ul a,
.moboNav li a {
  font-size: 0.875rem;
  color: var(--black-300);
  cursor: pointer;

  transition: color 0.2s ease;
  will-change: color;
}

.nav ul a:hover,
.moboNav li a:hover {
  color: var(--active-nav-item);
}

.nav ul a.active,
.moboNav li a.active {
  color: var(--active-nav-item);
}

.theme,
.moboTheme {
  display: flex;
  align-items: center;
  gap: 0.125rem;

  border: 1px solid var(--black-500);
  border-radius: 99999rem;
  padding: 0.125rem;
}

.theme button,
.moboTheme button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  padding: 0.375rem;

  background: none;
  outline: none;
  border: none;

  cursor: pointer;

  transition: background-color 0.2s ease;
  will-change: background-color;
}

.theme button:hover,
.moboTheme button:hover {
  background-color: var(--black-600);
}

.theme button.active,
.moboTheme button.active {
  background-color: var(--black-600);
}

.theme button svg path,
.moboTheme button svg path {
  transition: stroke 0.2s ease;
  will-change: stroke;
}

.theme button:hover svg path,
.moboTheme button:hover svg path {
  stroke: var(--mode-icons);
}

.theme button.active svg path,
.moboTheme button.active svg path {
  stroke: var(--mode-icons);
}

.moboNav {
  background-color: var(--moboNav-background);
  backdrop-filter: saturate(180%) blur(0.25rem);
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  padding: 0 2rem;

  transform-origin: top;
}

.moboNav ul {
  list-style: none;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.moboNav ul li a {
  font-size: 1.375rem;
}

.moboNav .rule {
  width: 100%;
  height: 0.01rem;
  border-radius: 1rem;
  background-color: var(--black-400);
}

.moboNav .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.moboNav .socialMedia a svg {
  transition: transform 0.2s ease;
}
.moboNav .socialMedia a:hover svg {
  transform: scale(1.1);
}

.moboNav .socialMedia a svg path {
  transition: fill 0.3s ease;
}
.moboNav .socialMedia a:hover svg path {
  fill: var(--active-nav-item);
}

.moboNav .moboTheme {
  width: fit-content;
}

.moboNav .rights {
  font-weight: 400;
  text-align: center;
  color: var(--black-300);
}

.moboNav .rights span {
  font-weight: 600;
  font-size: 1.1rem;
}

.burger {
  display: none;
}

.burger button {
  background: none;
  border: none;
  outline: none;

  padding: 0.75rem;

  cursor: pointer;
}

/* MEDIA QUERIES  */

/* 1024 px */
@media (max-width: 1024px) {
  .header {
    padding: 1rem 2rem;
  }
}

/* 860 px  */
@media (max-width: 860px) {
  .nav ul {
    gap: 1.5rem;
  }
}

/* 820 px */
@media (max-width: 820px) {
  .nav {
    display: none;
  }

  .theme {
    display: none;
  }

  .moboNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .burger {
    display: flex;
    z-index: 100000;
  }
}

/* 500 px  */
@media (max-width: 500px) {
  .header {
    padding: 1rem;
  }

  .moboNav {
    padding: 0 1rem;
  }
}
