.button {
  padding: 0.9rem 1.2rem;

  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;

  color: var(--hero-btn);
  background-color: transparent;

  border: 1px solid var(--black-500);
  border-radius: 0.4rem;
  outline: none;

  cursor: pointer;

  transition: all 0.2s ease;
}

.button:hover {
  transform: scale(0.99);
  background-color: var(--black-500);
}
