:root {
  --black-100: #fff;
  --black-200: #d2d2d2;
  --black-300: #9f9f9f;
  --black-400: #6c6c6c;
  --black-500: #3d3d3d;
  --black-600: #1a1a1a;
  --black-700: #000000;

  --active-nav-item: #fff;
  --mode-icons: #fff;

  /* MOBO_NAV  */
  --moboNav-background: #1a1a1a;

  /* HERO */
  --hero-circle: #3d3d3d;
  --hero-span: #fff;
  --hero-btn: #fff;

  /* ABOUT ME  */
  --aboutMe-icon: #f2f2f2;
  --aboutMe-heading: linear-gradient(
    180deg,
    #f2f2f2 0%,
    rgba(242, 242, 242, 0) 351.04%
  );
  --aboutMe-btn: #fff;
  --aboutMe-btn-hover: #000;

  /* EXPERIENCE  */
  --experience-card: #3d3d3d;
  --experience-card-hover: linear-gradient(
    338deg,
    rgba(243, 243, 243, 0.12) 0%,
    rgba(255, 255, 255, 0) 60.45%
  );

  /* SKILLS  */
  --skills-feildTitle: #fff;
  --skills-cardTitle: #fff;

  /* EDUCATION  */
  --education-cardHeading: #fff;
  --education-cardBtn: #3d3d3d;
  --education-cardBtn-hover: #fff;
  --education-logo: #f3f3f3;
  --education-arrowBtn: #000;

  /* SECTION HEADER  */
  --section-header: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0) 189.74%
  );

  /* FOOTER  */
  --footer-anchor: #9f9f9f;
  --footer-anchor-hover: #fff;

  --section-bg: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0) 25.93%,
    rgba(243, 243, 243, 0.11) 83.85%
  );

  --gradient-sub: linear-gradient(
    181deg,
    #9f9f9f 1.42%,
    rgba(159, 159, 159, 0) 144.41%
  );

  --gradient-heading: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0) 189.74%
  );
  --black-700-90: rgba(0, 0, 0, 0.17);
  --black-400-50: #c6c6c62b;

  --blue-200: #a9cbff;
  --blue-500: #1c77ff;
}

/* CHANGING THE DATA-THEME FOR THEM MODE */
[data-theme="light"] {
  --gradient-sub: linear-gradient(180deg, #000, #f6f6f6);
  --gradient-heading: linear-gradient(
    180deg,
    #000 -11.54%,
    rgba(51, 51, 51, 0) 188.46%
  );

  --black-700: #fff;
  --black-600: #e6e5e5;
  --black-500: #eaeaea;
  --black-400: #7a7a7a;
  --black-300: #8d8d8d;
  --black-200: #666;

  --active-nav-item: #000;
  --mode-icons: #000;

  /* MOBO_NAV  */
  --moboNav-background: #e0e0e0;

  /* HERO  */
  --hero-circle: #a5a5a5;
  --hero-span: #000;
  --hero-btn: #000;

  /* ABOUT ME  */
  --aboutMe-icon: #111111;
  --aboutMe-heading: linear-gradient(
    180deg,
    #111111 0%,
    rgba(242, 242, 242, 0) 351.04%
  );
  --aboutMe-btn: #000;
  --aboutMe-btn-hover: #fff;

  /* EXPERIENCE  */
  --experience-card: #000;
  --experience-card-hover: linear-gradient(338deg, #0000001f, #fff);

  /* SKILLS  */
  --skills-feildTitle: #000;
  --skills-cardTitle: #000;

  /* EDUCATION  */
  --education-cardHeading: #000;
  --education-cardBtn-hover: #000;
  --education-logo: #222222;
  --education-arrowBtn: #fff;

  /* SECTION HEADER  */
  --section-header: linear-gradient(
    180deg,
    #000 -18.18%,
    rgba(30, 30, 30, 0) 189.74%
  );

  /* FOOTER  */
  --footer-anchor: #000;
  --footer-anchor-hover: #000;

  --section-bg: linear-gradient(180deg, #fff 0%, #00000030);

  --black-700-90: hsla(0, 0%, 100%, 0.8);
}

::selection {
  color: var(--black-700);
  -webkit-text-fill-color: var(--black-700);
  background: var(--black-100);
}

::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background-color: #222222;
}

::-webkit-scrollbar {
  background-color: #3d3d3d;
  width: 0.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: background 0.3s ease;
}

section {
  overflow: hidden;
}

html,
body {
  max-width: 100vw;

  background: var(--black-700);
  color: var(--black-100);
}

h1 {
  color: #fff;
}

a {
  text-decoration: none;
  color: var(--black-100);
}
